<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/HOTBURGER/views/CSS/cadastro.css">

</head>
<body>
    <div class="container">
        <header class="header">
            <h1>Cadastro</h1>
        </header>
        <div class="container_2">
            <form action="#" method="post">
                <div class="input-container">
                    <label class="label_email" for="email">E-mail</label>
                    <div class="input-field">
                        <input type="email" id="email" name="email" placeholder="Digite seu e-mail" required>
                    </div>

                    <label class="label_password" for="password">Senha</label>
                    <div class="input-field">
                        <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
                    </div>

                    <label class="label_password" for="confirm-password">Confirmar Senha</label>
                    <div class="input-field">
                        <input type="password" id="confirm-password" name="confirm-password" placeholder="Confirme sua senha" required>
                    </div>
                </div>

                <div class="remember-me">
                    <label class="remember-me-label">
                        <input type="checkbox" class="remember-me-checkbox" name="terms" required>
                        Aceito os termos de uso
                    </label>
                </div>

                <div class="input-field">
                    <button type="submit" class="submit">Cadastrar</button>
                </div>
            </form>

            <span>
                Já tem uma conta? <a href="login.html">Entre aqui</a>
            </span>

            <div class="social-container">
                <a href="#" class="social-icon">G</a>
                <a href="#" class="social-icon">F</a>
                <a href="#" class="social-icon">T</a>
            </div>
        </div>
    </div>
</body>
</html>
