<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Ex-Feedbacks</title>


    <link rel="stylesheet" href="../CSS/ex-feedbacks.css" />

  </head>
  <body>
    <header class="container">
      <div class="container__feedback">
        <div class="container__left">
          <h1>Comentários</h1>
          <p>
            Mais de 200 clientes de diversos setores já confiaram na HOTBurguers para transformar seus momentos em experiências incríveis. Venha descobrir por que somos tão bem avaliados!
        </p>
        <p>
            Suas palavras fazem toda a diferença! Deixe sua opinião e ajude-nos a continuar proporcionando momentos deliciosos e especiais para você e aos demais.
        </p>
        
          <button><a href="../HTML/feed and faq.html">Dar um Feedback <i class="fa-solid fa-comment-dots"></i></a></button>
        </div>
        <div class="container__right">
          <div class="card">
            <img src="/HOTBURGER/images/pic-1.jpg" alt="user" />
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">

                <span class="container__left__stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>
                
                <p>
                  Simplesmente uma delicia! Voltarei aqui novamente com certeza.
                </p>
                <h4>- Romério Silva Leite</h4>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/HOTBURGER/images/pic-2.jpeg" alt="user" />
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">

                <span class="container__left__stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>

                <p>
                  A comida tava uma delícia, más perdi meu cachorro por lá.
                </p>
                <h4>- Marcia Ferreira</h4>
              </div>
            </div>
          </div>
          <div class="card">
            <img src="/HOTBURGER/images/pic-3.jpg" alt="user" />
            <div class="card__content">
              <span><i class="ri-double-quotes-l"></i></span>
              <div class="card__details">

                <span class="container__left__stars">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                </span>

                <p>
                  Achei um pouco exagerado ser tão preto, más a comida é muito boa.
                </p>
                <h4>- Steffane Almeida</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </body>
</html>
