<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <script src="https://assets.codepen.io/27773162/vanilla-titlt.min.js"></script>

  <link rel="stylesheet" href="../CSS/food.css">

  </head>

<body>
    <div class="one_container">
        <div class="container">
            <div class="box">
                <h2 class="title_food">Food</h2>
                <button class="buy" style="--bgColor: 
                #d80000">Buy Now</button>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos dignissimos magnam sapiente, saepe explicabo tenetur placeat in sed voluptatibus deleniti quaerat. Praesentium quia aut voluptatibus error odio ratione aspernatur vel.</p>
                <button class="circle" style="--bgColor: 
                #d80000"></button>
                <img src="/HOTBURGER/images/hamburguer 1.png" alt="hamburguer" class="product">
            </div>
        </div>
        </div>

        <script src="../JS/food.js" defer></script>
</body>
</html>