<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://assets.codepen.io/27773162/vanilla-titlt.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    
    <link rel="stylesheet" href="../CSS/nav.css">
    <link rel="stylesheet" href="../CSS/random_images.css">
    <link rel="stylesheet" href="../CSS/static_img.css">
    <link rel="stylesheet" href="../CSS/home.css">
    <link rel="stylesheet" href="../CSS/home_2.css">
    <link rel="stylesheet" href="../CSS/schedules.css" />
    <link rel="stylesheet" href="../CSS/ex-feedbacks.css" />
    <link rel="stylesheet" href="../CSS/cards.css">
    <link rel="stylesheet" href="../CSS/footer.css">


</head>
<body>


<!-- NAVBAR -->

    <header>
        <button class="open-btn" id="menuBtn" onclick="openNavbar()"><i class="fa-solid fa-bars"></i></button>
      
        <div class="navbar" id="navbar">
            <a href="javascript:void(0)" class="close-btn" onclick="closeNavbar()">&times;</a>
            <a href="../HTML/home.html" data-section="home"><i class="fa-solid fa-house"></i> Inicio</a>
            <a href="#menu" data-section="menu" onclick="openSubNavbar()"><i class="fas fa-utensils"></i> Cardápio</a>
            <a href="../HTML/reservations.html" data-section="reservations"><i class="fas fa-regular fa-clipboard"></i> Reservas</a>
            <a href="../HTML/feed and faq.html" data-section="feedback"><i class="fas fa-solid fa-star-half-stroke"></i> Avaliações</a>
        
            <div class="login-btn">
              <a href="login.html" class="login-icon"><i class="fas fa-user-circle"></i></a>
            </div>
        
          </div>
      
        <div class="sub-navbar" id="subNavbar">
            <a href="javascript:void(0)" class="close-btn" onclick="closeSubNavbar()">&times;</a>
            <a href="#burguers" data-section="team"><i class="fas fa-hamburger"></i> Hamburguers</a>
            <a href="#combos" data-section="history"><i class="fas fa-solid fa-champagne-glasses"></i> Combos</a>
            <a href="#drinks" data-section="mission"><i class="fas regular fa-wine-glass"></i> Bebidas</a>
            <a href="#desserts" data-section="mission"><i class="fas fa-ice-cream"></i> Sobremesas</a>
            <a href="#more" data-section="mission"><i class="fa-solid fa-spoon"></i> Adicionais</a>
          </div>
      </header>


<!-- RANDOM_IMAGES -->


<div class="boxImg">
  <img src="/HOTBURGER/images/burger__black__border__white.png" alt="" class="img1">
  <img src="/HOTBURGER/images/burger__black__border__red.png" alt="" class="img2">
  <img src="/HOTBURGER/images/burguer__red__border__white.png" alt="" class="img3">
  <img src="/HOTBURGER/images/burger__black__border__white.png" alt="" class="img4">
  <img src="/HOTBURGER/images/burguer__red__border__white.png" alt="" class="img5">
  <img src="/HOTBURGER/images/burger__white__border__black.png" alt="" class="img6">
  <img src="/HOTBURGER/images/burger__black__border__red.png" alt="" class="img7">
  <img src="/HOTBURGER/images/burger__black__border__white.png" alt="" class="img8">
  <img src="/HOTBURGER/images/burger__black__border__gold.png" alt="" class="img9">
  <img src="/HOTBURGER/images/burger__black__border__red.png" alt="" class="img10">
  <img src="/HOTBURGER/images/burger__white__border__black.png" alt="" class="img11">
  <img src="/HOTBURGER/images/burger__white__border__red.png" alt="" class="im12">
</div>


<!-- HOME -->

<header>
  <a href="#"><img src="" alt="" class="logo"></a>
  <nav class="navegation">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Newsletter</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>

<section class="carousel">
  <div class="carousel-item active" data-bg="bg1">
    <div class="circle"></div>
    <div class="content">
      <div class="text">
        <h2><br><span><i class="fa-brands fa-gripfire"></i>HOT</span>Burguers</h2>
        <p>Bem-vindo à <strong><i class="fa-brands fa-gripfire"></i>HOTBurguers</strong>, onde a paixão por hambúrgueres se encontra com o sabor irresistível! Criamos um cardápio diversificado, pensado para agradar a todos os gostos, oferecendo ingredientes frescos, combinações únicas e sabores marcantes. Seja para um almoço rápido ou um jantar saboroso, nossos hambúrgueres são preparados com cuidado e qualidade, para proporcionar uma experiência gastronômica incrível!</p>
        <div class="view-contact">
          <a href="#">VIEW ALL PRODUCTS</a>
          <ul class="icons">
            <li><a href="tel:0000000000"><i class="fa-solid fa-phone"></i>  000 0000 000</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="barguer">
      <img src="/HOTBURGER/images/hamburguer 1 back__red.png" alt="Hambúrguer 1">
    </div>
  </div>

  
  <!-- HOME_2 -->
  <div class="carousel-item" data-bg="bg2">
    <div class="content_2">
      <div class="text_2">
        <h2><br><span><i class="fa-brands fa-gripfire"></i>HOT</span>Burguers</h2>
        <p>Bem-vindo à <strong><i class="fa-brands fa-gripfire"></i>HOTBurguers</strong>, onde a paixão por hambúrgueres se encontra com o sabor irresistível! Criamos um cardápio diversificado, pensado para agradar a todos os gostos, oferecendo ingredientes frescos, combinações únicas e sabores marcantes. Seja para um almoço rápido ou um jantar saboroso, nossos hambúrgueres são preparados com cuidado e qualidade, para proporcionar uma experiência gastronômica incrível!</p>
        <div class="view-contact_2">
          <a href="#">VIEW ALL PRODUCTS</a>
          <ul class="icons_2">
            <li><a href="tel:0000000000"><i class="fa-solid fa-phone"></i>  000 0000 000</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="barguer_2">
      <img src="/HOTBURGER/images/oferta__glow.png" alt="Hambúrguer 2">
    </div>
  </div>
</section>




<!-- HORÁRIOS -->


<div class="Schedules">
  <div class="content__schedules">
    <h2 class="title__schedules"><i class="fa-regular fa-clock"></i>Abertos as:</h2>
    <ul class="list__schedules">
      <li>Terca-feira: 11h às 22h</li>
      <li>Quarta-feira: 11h às 22h</li>
      <li>Quinta-feira: 11h às 22h</li>
      <li>Sexta-feira: 11h às 22h</li>
      <li>Sabado: 11h às 22h</li>
    </ul>
  </div>
</div>


<!-- FEEDBACKS -->

    <div class="container__feedback">
      <div class="container__left">
        <h1>Comentários</h1>
        <p>
          Mais de 200 clientes de diversos setores já confiaram na HOTBurguers para transformar seus momentos em experiências incríveis. Venha descobrir por que somos tão bem avaliados!
      </p>
      <p>
          Suas palavras fazem toda a diferença! Deixe sua opinião e ajude-nos a continuar proporcionando momentos deliciosos e especiais para você e aos demais.
      </p>
      
        <button><a href="../HTML/feed and faq.html">Dar um Feedback <i class="fa-solid fa-comment-dots"></i></a></button>
      </div>
      <div class="container__right">
        <div class="card">
          <img src="/HOTBURGER/images/pic-1.jpg" alt="user" />
          <div class="card__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <div class="card__details">

              <span class="container__left__stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </span>
              
              <p>
                Simplesmente uma delicia! Voltarei aqui novamente com certeza.
              </p>
              <h4>- Romério Silva Leite</h4>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="/HOTBURGER/images/pic-2.jpeg" alt="user" />
          <div class="card__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <div class="card__details">

              <span class="container__left__stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </span>

              <p>
                A comida tava uma delícia, más perdi meu cachorro por lá.
              </p>
              <h4>- Marcia Ferreira</h4>
            </div>
          </div>
        </div>
        <div class="card">
          <img src="/HOTBURGER/images/pic-3.jpg" alt="user" />
          <div class="card__content">
            <span><i class="ri-double-quotes-l"></i></span>
            <div class="card__details">

              <span class="container__left__stars">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
              </span>

              <p>
                Achei um pouco exagerado ser tão preto, más a comida é muito boa.
              </p>
              <h4>- Steffane Almeida</h4>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- CARDS -->

<div class="card__box">
  <div class="card__content__box">
      <h2 class="card__icon"><i class="fa-solid fa-hand-sparkles"></i></h2>
      <h3 class="card__title">Ambiente Limpo e Higienizado</h3>
      <p class="card__p">"Cuidamos de cada cantinho com carinho e atenção para criar um ambiente limpo, higienizado e pronto para receber você. Sinta-se à vontade para desfrutar do nosso espaço com total segurança."</p>
      </div>

  <div class="card__content__box">
      <h2 class="card__icon"><i class="fa-solid fa-cake-candles"></i></h2>
      <h3 class="card__title">Faça a sua reserva</h3>
      <p class="card__p">"Momentos especiais merecem planejamento. Reserve sua mesa conosco e prepare-se para saborear o melhor da nossa culinária em um ambiente perfeito para você e seus convidados."</p>
  </div>

  <div class="card__content__box">
      <h2 class="card__icon"><i class="fa-solid fa-eye"></i></h2>
      <h3 class="card__title">Sorria! Voce esta sendo filmado!</h3>
      <p class="card__p">"Estamos de olho, mas só para garantir que tudo esteja em perfeita ordem. Sua segurança é o que mais importa para nós!"</p>
  </div>
</div>


</section>



<!-- FOOTER -->

<footer>
    <div class="footer_info">
        <div class="footer_width about">
            <h2>Sobre</h2>
            <p style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Bem-vindo à HOTBurguers, onde a paixão por hambúrgueres é nossa principal receita! Nossa história começou com o desejo de transformar o simples ato de comer em uma experiência memorável.</p>
            <div class="social-media">
                <ul>
                    <li><a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a></li>
                </ul>
            </div>                        
        </div>
        <div class="footer_width link">
            <h2>Links</h2>
            <ul>
                <li><a href="#" title="Go to Home">Inicio</a></li>
                <li><a href="#" title="Learn more About us">Sobre</a></li>
                <li><a href="#" title="Discover our Services">Serviços</a></li>
                <li><a href="#" title="Frequently Asked Questions">FAQ</a></li>
                <li><a href="#" title="Get in touch with us">Contato</a></li>
            </ul>
        </div>
        <div class="footer_width contact">
            <h2>Contato</h2>
            <ul>
                <li>
                    <span><i class="fas fa-map-marker-alt"></i></span>
                    <p>123 Street, New York, USA</p>
                </li>
                <li>
                    <span><i class="fas fa-envelope"></i></span>
                    <a href="mailto:user@gmail.com">user@gmail.com</a>
                </li>
                <li>
                    <span><i class="fas fa-phone-volume"></i></span>
                    <a href="tel:0000000000">000 0000 000</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="copy-right">
        <p>&copy; COPYRIGHT 2023 ALL RIGHTS RESERVED.</p>
    </div>
</footer>


<!-- JS -->

<script src="../JS/nav.js"></script>
<script src="../JS/random_images.js"></script>

<script>

const carouselItems = document.querySelectorAll('.carousel-item');
const carousel = document.querySelector('.carousel');
let currentIndex = 0;

function updateBackground() {
  // Obtém o valor do atributo `data-bg` do item ativo
  const newBg = carouselItems[currentIndex].getAttribute('data-bg');
  // Remove as classes de fundo anteriores
  carousel.className = `carousel ${newBg}`;
}

function showNextItem() {
  // Remove a classe 'active' do item atual
  carouselItems[currentIndex].classList.remove('active');
  carouselItems[currentIndex].classList.add('previous');

  // Incrementa o índice, voltando ao início se necessário
  currentIndex = (currentIndex + 1) % carouselItems.length;

  // Adiciona a classe ativa ao próximo item
  carouselItems[currentIndex].classList.add('active');

  // Atualiza o fundo do carrossel
  updateBackground();

  // Remove a classe 'previous' após a transição
  setTimeout(() => {
    carouselItems.forEach((item) => item.classList.remove('previous'));
  }, 1000);
}

// Alterna para o próximo item a cada 5 segundos
setInterval(showNextItem, 5000);

// Inicializa o fundo ao carregar a página
updateBackground();


</script>

</body>
</html>
