<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


    <link rel="stylesheet" href="../CSS/login.css">

</head>
<body>

    <div class="container">
        <div class="container_2">
        <div class="header">
            <header><i class="fa-solid fa-circle-user"></i></header>
        </div>

        <div class="input-container">
            <!-- Campos de login -->
            <div class="input-field">
                <label class="label_email" for="user">Email</label>
                <input type="email" name="email" onchange="validateFields()" id="email" required>
                <div class="email-error">Preencha o campo de email!</div>
                <div class="email-error">Email inválido!</div>
            </div>
        
            <div class="input-field">
                <label class="label_password" for="pass">Senha</label>
                <input type="password" name="password" id="password" onchange="validateFields()" required>
                <div class="password-error">Preencha o campo de senha!</div>
                <div class="password-error">Senha inválido!</div>
            </div>
        

            <div class="input-field">
                <button type="button" class="clear" id="recover-password-button" disabled = "true">Recuperar senha</button>
            </div>
        
               <!-- Botão de login -->
            <div class="input-field">
                <button type="button" class="solid" id="login-button" disabled = "true">Entrar</button>
            </div>
        
            
                <button type="button" class="outline" id="register-button" disabled>
                    <a href="cadastro.html">Registrar</a>
                </button>
            
        
        <div class="social-container">
            <a href="#" class="social-icon"><i class="fab fa-google"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
            <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        </div>
    </div>

    <script src="/HOTBURGER/views/JS/login.js">
    </script>
</body>
</html>