<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/HOTBURGER/public/stylesheets/login.css">
    <link rel="stylesheet" href="/HOTBURGER/public/stylesheets/account.css">
</head>
<body class="centralize">

<!-- adminburguer@hotburguers.br     opaitaon -->

    <form>
        <div class="form-field">
            <input type="email" name="email" id="email" onchange="onChangeEmail()" placeholder="seu@email.com">
            <div class="error" id="email-required-error">Email é obrigatório!</div>
            <div class="error" id="email-invalid-error">Email inválido!</div>
        </div>
        <div class="form-field">
            <input type="password" name="password" id="password" onchange="onChangePassword()" placeholder="Senha">
            <div class="error" id="password-required-error">Senha é obrigatória!</div>
            <div class="error" id="password-min-length-error">A senha deve ter pelo menos 6 caracteres!</div>
        </div>
        <div>
            <button type="button" class="clear" id="recover-password-button" disabled="true">Recuperar senha</button>
        </div>
        <div>
            <button type="button" class="solid" id="login-button" disabled="true" onclick="login()">Entrar</button>
        </div>
        <div>
            <button type="button" class="outline" onclick="register()">Registrar</button>
        </div>
    </form>

    <script src="/HOTBURGER/public/javascripts/login.js"></script>
    <script src="/HOTBURGER/public/javascripts/validations.js"></script>
    <script src="/HOTBURGER/public/javascripts/loading.js"></script>
    <script src="https://www.gstatic.com/firebasejs/11.0.2/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/11.0.2/firebase-auth-compat.js"></script>
    <script>
        const firebaseConfig = {
            apiKey: "AIzaSyBcIrxM4paoy84owwOtiK-mL2wckGaw2Ds",
            authDomain: "hotburguers-724c7.firebaseapp.com",
            projectId: "hotburguers-724c7",
            storageBucket: "hotburguers-724c7.firebasestorage.app",
            messagingSenderId: "987898064446",
            appId: "1:987898064446:web:9b857f6c928861228aab6f",
            measurementId: "G-HZFNY5FE29"
        };
        firebase.initializeApp(firebaseConfig);
    </script>
</body>
</html>
