<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini cardápio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/HOTBURGER/public/stylesheets/menu.css">
    <link rel="stylesheet" href="/HOTBURGER/public/stylesheets/food.css">
</head>
<body>
    <!-- Categoria: Hambúrgueres -->
    <section class="carousel_menu">
        <h1 class="category_title_menu"><i class="fas fa-solid fa-burger"></i>Hambúrgueres</h1>
        <section class="carousel_container_menu">
            
            <article class="box_food">
                <h2 class="title_food">Classic Cheese</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">O clássico que nunca sai de moda! Um hambúrguer simples e irresistível, perfeito para quem ama os sabores tradicionais.
                    Carne 100% bovina, queijo cheddar derretido, alface americana, tomate fresco, picles crocante e molho especial.
                </p>
                <img src="/HOTBURGER/public/images/Classic Cheese.png" alt="Classic Cheese" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Whopper BBQ</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">O Whopper que você já ama, agora com um toque defumado irresistível.
                    Carne bovina grelhada no fogo, queijo cheddar derretido, fatias de bacon crocante, cebola crispy, alface fresca, tomate maduro e um toque especial de molho barbecue defumado, tudo envolvido em um pão macio com gergelim.
                </p>
                <img src="/HOTBURGER/public/images/Whopper_BBQ.png" alt="Whopper-BBQ" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Stacker Duplo Bacon</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">Para os amantes de bacon em dobro! O Stacker Duplo Bacon traz dois hambúrgueres 100% bovinos suculentos, queijo cheddar derretido, fatias generosas de bacon crocante, molho especial e pão macio tostado na medida certa. Uma explosão de sabor em cada mordida!</p>
                <img src="/HOTBURGER/public/images/Stacker-DP.png" alt="Stacker Duplo Bacon" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Mega Stacker Atômico 2.0</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">
                    Uma evolução do sabor! O Mega Stacker Atômico 2.0 traz ainda mais potência: dois hambúrgueres 100% bovinos suculentos, queijo cheddar em dobro, bacon crocante, cebola crispy, alface americana, molho atômico especial e um toque final de jalapeños para os amantes de um sabor explosivo e picante.
                </p>                                    
                <img src="/HOTBURGER/public/images/Mega-Stacker-Atômico-2.0.png" alt="Mega Stacker Atômico 2.0" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Mega Stacker Atômico 3.0</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">Potência máxima em sabor! O Mega Stacker Atômico 3.0 é uma verdadeira explosão de sabor!
                    Três camadas generosas de carne bovina grelhada no fogo, tripla porção de queijo cheddar derretido, fatias de bacon crocante, cebola crispy e o exclusivo molho Stacker com pimenta jalapeño, tudo envolvido em um pão macio com gergelim.
                </p>
                <img src="/HOTBURGER/public/images/Mega Stacker Atômico 3.0.png" alt="Mega Stacker Atômico 3.0" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Whopper Bacon Catupiry</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">O clássico Whopper com o toque cremoso do Catupiry e o crocante do bacon. Sabor inconfundível!
                    Carne bovina grelhada, queijo cheddar, bacon crocante, alface, tomate e o irresistível Catupiry cremoso, tudo no pão com gergelim.
                </p>
                <img src="/HOTBURGER/public/images/whopper_catupiry_interna.png" alt="Whopper Bacon Catupiry" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Chicken Júnior</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">O sabor do frango crocante em uma versão mais leve e deliciosa.
                    Frango empanado crocante, alface fresca, tomate e maionese, tudo no pão macio.
                </p>
                <img src="/HOTBURGER/public/images/Chicken-Jr.png" alt="Chicken Júnior" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Rodeio</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">O sabor que remete ao espírito do campo! O Rodeio combina um hambúrguer 100% bovino suculento, queijo cheddar cremoso, cebola crispy crocante, molho barbecue defumado e pão levemente tostado. Simples, rústico e irresistível!</p>
                <img src="/HOTBURGER/public/images/Rodeio.png" alt="Rodeio" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Kids Burger</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">O lanche perfeito para os pequenos! O Kids Burger traz um hambúrguer 100% bovino, queijo cheddar derretido, ketchup e pão macio, em um tamanho ideal para crianças. Simples, delicioso e cheio de diversão!</p>
                <img src="/HOTBURGER/public/images/Kids-Burger.png" alt="Kids Burger" class="product_food">
            </article>

            <article class="box_food">
                <h2 class="title_food">Whopper Vegetariano</h2>
                <button class="buy_food" style="--bgColor: #d80000">Buy Now</button>
                <p class="description_food">Uma opção vegetariana deliciosa, com todo o sabor e frescor do Whopper! 
                    Hambúrguer de vegetais, queijo cheddar, alface, tomate, picles e maionese, tudo no pão com gergelim.
                </p>
                <img src="/HOTBURGER/public/images/Whopper-de-Plantas.png" alt="Whopper Vegetariano" class="product_food">
            </article>

        </section>
    </section>
    
    <script src="/HOTBURGER/public/javascripts/3D.js"></script>
    <script src="/HOTBURGER/public/javascripts/menu.js"></script>
</body>
</html>
