<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini cardápio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="/HOTBURGER/views/CSS/menu.css">
    <link rel="stylesheet" href="/HOTBURGER/views/CSS/food.css">
</head>
<body>
    <!-- Categoria: Hambúrgueres -->
    <section class="carousel">
        <h1 class="category_title"><i class="fas fa-solid fa-burger"></i>Hambúrgueres</h1>
        <div class="carousel_container">
            
            <div class="box">
                <h2 class="title_food">Classic Cheese</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">O clássico que nunca sai de moda! Um hambúrguer simples e irresistível, perfeito para quem ama os sabores tradicionais.
                    Carne 100% bovina, queijo cheddar derretido, alface americana, tomate fresco, picles crocante e molho especial.
                </p>
                <img src="/HOTBURGER/images/Classic Cheese.png" alt="Classic Cheese" class="product">
            </div>


            <div class="box">
                <h2 class="title_food">Whopper BBQ</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">O Whopper que você já ama, agora com um toque defumado irresistível.
                    Carne bovina grelhada no fogo, queijo cheddar derretido, fatias de bacon crocante, cebola crispy, alface fresca, tomate maduro e um toque especial de molho barbecue defumado, tudo envolvido em um pão macio com gergelim.
                </p>
                <img src="/HOTBURGER/images/Whopper_BBQ.png" alt="Whopper-BBQ" class="product">
            </div>


            <div class="box">
                <h2 class="title_food">Mega Stacker Atômico 3.0</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">Potência máxima em sabor! O Mega Stacker Atômico 3.0 é uma verdadeira explosão de sabor!
                    Três camadas generosas de carne bovina grelhada no fogo, tripla porção de queijo cheddar derretido, fatias de bacon crocante, cebola crispy e o exclusivo molho Stacker com pimenta jalapeño, tudo envolvido em um pão macio com gergelim.
                </p>
                <img src="/HOTBURGER/images/Mega Stacker Atômico 3.0.png" alt="Mega Stacker Atômico 3.0" class="product">
            </div>


            <div class="box">
                <h2 class="title_food">Whopper Bacon Catupiry</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">O clássico Whopper com o toque cremoso do Catupiry e o crocante do bacon. Sabor inconfundível!
                    Carne bovina grelhada, queijo cheddar, bacon crocante, alface, tomate e o irresistível Catupiry cremoso, tudo no pão com gergelim.
                </p>
                <img src="/HOTBURGER/images/whopper_catupiry_interna.png" alt="Whopper Bacon Catupiry" class="product">
            </div>


            <div class="box">
                <h2 class="title_food">Chicken Júnior</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">O sabor do frango crocante em uma versão mais leve e deliciosa.
                    Frango empanado crocante, alface fresca, tomate e maionese, tudo no pão macio.
                </p>
                <img src="/HOTBURGER/images/Chicken-Jr.png" alt="Chicken Júnior" class="product">
            </div>

            
            <div class="box">
                <h2 class="title_food">Cheddar Melt</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">Cheddar cremoso, cebola caramelizada e hambúrguer suculento.</p>
                <img src="/HOTBURGER/images/potatos__burguer.png" alt="Cheddar Melt" class="product">
            </div>

            
            <div class="box">
                <h2 class="title_food">Cheddar Melt</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">Cheddar cremoso, cebola caramelizada e hambúrguer suculento.</p>
                <img src="/HOTBURGER/images/potatos__burguer.png" alt="Cheddar Melt" class="product">
            </div>

            
            <div class="box">
                <h2 class="title_food">Cheddar Melt</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">Cheddar cremoso, cebola caramelizada e hambúrguer suculento.</p>
                <img src="/HOTBURGER/images/potatos__burguer.png" alt="Cheddar Melt" class="product">
            </div>

            
            <div class="box">
                <h2 class="title_food">Cheddar Melt</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">Cheddar cremoso, cebola caramelizada e hambúrguer suculento.</p>
                <img src="/HOTBURGER/images/potatos__burguer.png" alt="Cheddar Melt" class="product">
            </div>

            
            <div class="box">
                <h2 class="title_food">Whopper Vegetariano</h2>
                <button class="buy" style="--bgColor: #d80000">Buy Now</button>
                <p class="description">Uma opção vegetariana deliciosa, com todo o sabor e frescor do Whopper! 
                    Hambúrguer de vegetais, queijo cheddar, alface, tomate, picles e maionese, tudo no pão com gergelim.
                </p>
                <img src="/HOTBURGER/images/Whopper-de-Plantas.png" alt="Whopper Vegetariano" class="product">
            </div>

            
        </div>
    </section>
    
    <script src="/HOTBURGER/views/JS/3D.js"></script>
    <script src="/HOTBURGER/views/JS/menu.js"></script>
</body>
</html>
