<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>

    <link rel="stylesheet" href="/HOTBURGER/public/stylesheets/account.css">
</head>
<body class="centralize">
    <form>
        <fieldset class="form-field">
            <legend class="sr-only"></legend>
            <input type="email" placeholder="seu@email.com"
                onchange="onChangeEmail()" id="email">
            <p class="error" id="email-required-error">Email é obrigatório!</p>
            <p class="error" id="email-invalid-error">Email inválido!</p>
        </fieldset>

        <fieldset class="form-field">
            <legend class="sr-only"></legend>
            <input type="password" placeholder="Senha" onchange="onChangePassword()" id="password">
            <p class="error" id="password-required-error">Senha é obrigatória!</p>
        </fieldset>

        <fieldset class="form-field">
            <legend class="sr-only"></legend>
            <input type="password" placeholder="Confirme sua Senha" onchange="onChangeConfirmPassword()" id="confirmPassword">
            <p class="error" id="password-doesnt-match-error">Senha e confirmação devem ser iguais!</p>
        </fieldset>

        <section>
            <button type="button" class="solid" disabled="true" onclick="register()" id="register-button">Registrar</button>
        </section>
        
        <section>
            <button type="button" class="clear" onclick="login()">Entrar</button>
        </section>
    </form>
</body>

<script src="/HOTBURGER/public/javascripts/register.js"></script>
<script src="/HOTBURGER/public/javascripts/validations.js"></script>
</html>
