<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <title>Horários de Funcionamento</title>
    <link rel="stylesheet" href="../CSS/schedules.css" />
  </head>
  <body>
    <!-- Seção de Horários -->
    <div class="container__horarios">
      <h1>Horários de Funcionamento</h1>
      <p>
        Confira os horários de funcionamento da nossa hamburgueria e venha nos visitar quando for mais conveniente para você!
      </p>

      <div class="horarios">
        <div class="dia">
          <span class="dia__nome">Segunda-feira</span>
          <span class="dia__hora">10:00 - 22:00</span>
        </div>
        <div class="dia">
          <span class="dia__nome">Terça-feira</span>
          <span class="dia__hora">10:00 - 22:00</span>
        </div>
        <div class="dia">
          <span class="dia__nome">Quarta-feira</span>
          <span class="dia__hora">10:00 - 22:00</span>
        </div>
        <div class="dia">
          <span class="dia__nome">Quinta-feira</span>
          <span class="dia__hora">10:00 - 22:00</span>
        </div>
        <div class="dia">
          <span class="dia__nome">Sexta-feira</span>
          <span class="dia__hora">10:00 - 23:00</span>
        </div>
        <div class="dia">
          <span class="dia__nome">Sábado</span>
          <span class="dia__hora">10:00 - 23:00</span>
        </div>
        <div class="dia">
          <span class="dia__nome">Domingo</span>
          <span class="dia__hora">10:00 - 22:00</span>
        </div>
      </div>
    </div>
  </body>
</html>
