@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: url('/HOTBURGER/public/images/novo__walpaper.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1.0;
    background-image: url('/caminho/para/sua/imagem.jpg'), linear-gradient(to top, #000000 70%, transparent);
    z-index: -5;
}
body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}