<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Side Navigation Bar</title>
	<link rel="stylesheet" href="Cardapio.css">
    <link rel="stylesheet" href="../views/Cardapio.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="app.js" defer></script>
    <script src="https://assets.codepen.io/27773162/vanilla-titlt.min.js"></script>
</head>
<body>
<header>
    <div class="search">
        <div class="search-box">
            <input type="text" class="input" placeholder="Pesquisar">
            <label for="" class="icon">
                <i class="fas fa-search"></i>
            </label>
        </div>
    </div>
    
<nav>
<div class="wrapper">
    <div class="sidebar">
        <ul>
            <li><a href="#"><i class="fas fa-star"></i>Destaques</a></li>
            <li><a href="#"><i class="fas fa-utensils"></i>Cardápio</a></li>
            <li><a href="#"><i class="fas fa-regular fa-clipboard"></i>Reservas</a></li>
            <li><a href="#"><i class="fas fa-solid fa-star-half-stroke"></i>Avaliações</a></li>

            <li><a href="../views/login.html"><i class="fas fa-user"></i>Cadastro</a></li>
        </ul>
    </div>




<div class="social_media">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
</div>
</div>
</nav>

<section class="wrapper_category">
  <div class="sidebar_2">
    <ul>
      <li><a href="#"><i class="fas fa-hamburger"></i><span class="second_circle"></span>Hamburgers</a></li>
      <li><a href="#"><i class="fa-sharp fa-solid fa-burger-fries"></i><span class="second_circle"></span>Combos</a></li>
      <li><a href="#"><i class="fas regular fa-wine-glass"></i><span class="second_circle"></span>Bebidas</a></li>
      <li><a href="#"><i class="fas fa-ice-cream"></i><span class="second_circle"></span>Sobremesas</a></li>
      <li><a href="#"><i class="fas fa-solid fa-french-fries"></i><span class="second_circle"></span>Adicionais</a></li>
    </ul>
  </div>
</section>

</div>
</header>


<section class="Items_section">
<div class="one_container">
    <div class="container">
        <div class="box">
            <h2 class="title_food">Hamburguer</h2>
            <button class="buy" style="--bgColor: 
            #d80000">Comprar</button>
            <button class="circle" style="--bgColor: 
            #d80000"></button>
            <img src="../images/hamburguer 1.png" alt="hamburguer" class="product">
        </div>
    </div>
    </div>

    <div class="one_container">
        <div class="container">
            <div class="box">
                <h2 class="title_food">Hamburguer</h2>
                <button class="buy" style="--bgColor: 
                #d80000">Comprar</button>
                <button class="circle" style="--bgColor: 
                #d80000"></button>
                <img src="../images/hamburguer 1.png" alt="hamburguer" class="product">
            </div>
        </div>
        </div>

        <div class="one_container">
            <div class="container">
                <div class="box">
                    <h2 class="title_food">Hamburguer</h2>
                    <button class="buy" style="--bgColor: 
                    #d80000">Comprar</button>
                    <button class="circle" style="--bgColor: 
                    #d80000"></button>
                    <img src="../images/hamburguer 1.png" alt="hamburguer" class="product">
                </div>
            </div>
            </div>

            <div class="one_container">
                <div class="container">
                    <div class="box">
                        <h2 class="title_food">Hamburguer</h2>
                        <button class="buy" style="--bgColor: 
                        #d80000">Comprar</button>
                        <button class="circle" style="--bgColor: 
                        #d80000"></button>
                        <img src="../images/hamburguer 1.png" alt="hamburguer" class="product">
                    </div>
                </div>
                </div>

                <div class="one_container">
    <div class="container">
        <div class="box">
            <h2 class="title_food">Hamburguer</h2>
            <button class="buy" style="--bgColor: 
            #d80000">Comprar</button>
            <button class="circle" style="--bgColor: 
            #d80000"></button>
            <img src="../images/hamburguer 1.png" alt="hamburguer" class="product">
        </div>
    </div>
    </div>
</section>

<img class="back_image" src="../images/fundo_cardapio.webp" alt="">
</body>
</html>