@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


:root {
  --stars : #e9e9e9;
  --tittle-color: #ffffff;
  --border-bg : #b30009 4px solid;
  --names: #ce0303;
  --glow-bg: 0 0 40px hsla(0, 100%, 38%, 0.847);
  --text-color: #a0a0a0;
  --back-container: #141414;
  --button-1-color: #ff0000;
  --button-2-color: #d60004;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0c0c0c;
}

header {
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
}

.container__feedback {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.container__left h1 {
  margin-top: 5rem;
  margin-bottom: 2rem;
  font-size: 2.9rem;
  font-weight: 900;
  color: var(--tittle-color);
  text-shadow: var(--glow-bg);
}

.container__left p {
  font-size: 1.4rem;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.container__left button {
  display: flex;
  justify-content: center; /* Centraliza o conteúdo do botão */
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 2rem;
  margin-top: 5rem;
  outline: none;
  border: #ff0000 3px solid;
  border-radius: 15px;
  background: #111111;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.container__left button a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: inherit; /* Faz o link herdar a cor do botão */
  text-decoration: none; /* Remove o sublinhado do link */
  font-size: inherit; /* Garante que o tamanho da fonte será o mesmo */
}

.container__left button:hover {
  background: linear-gradient(to right, var(--button-1-color), var(--button-2-color));
  box-shadow: var(--glow-bg);
  transform: scale(1.05);
}

.container__left button a i {
  font-weight: 800;
  font-size: 1.7rem;
  transition: all 0.3s ease-in-out;
}

.container__left button:hover a i {
  animation: shake 0.5s ease-in-out 0.3s;
}

/* Animação de balanço */
@keyframes shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
}



.container__right {
  display: grid;
  gap: 1.5rem;
}

.card {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: var(--back-container);
  border: var(--border-bg);
  border-radius: 1rem;
  box-shadow: 5px 5px 20px rgba(70, 70, 70, 0.2);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: var(--glow-bg);
  transition: all 0.3s ease-in-out;
}

.card img {
  max-width: 75px;
  border-radius: 100%;
  border: var(--border-bg);
}

.card__content {
  display: flex;
  gap: 1rem;
  color: var(--names);
}

.card__content span i {
  font-size: 2rem;
}

.card__details p {
  font-style: italic;
  color: var(--text-color);
  margin-bottom: 1rem;
}

.card__details h4 {
  text-align: right;
  color: var(--names);
  font-size: 1rem;
  font-weight: 500;
}

.card__details .container__left__stars {
  color: var(--stars);
  text-align: right;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
}

@media (width < 1200px) {
  .container {
    gap: 3rem;
  }
}

@media (width < 900px) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }

  .container__right {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 750px) {
  .container__right {
    grid-template-columns: repeat(1, 1fr);
  }
}
