
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    color: #000;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

a {
    text-decoration: none;
    transition: .5s;
    color: #fff;
}

ul ,li {
    list-style-type: none;
}

footer {
    background-color: rgb(41, 0, 0);
    color: #fff;
}

.footer_info {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding: 50px 0;
}

.footer_info .footer_width {
    padding: 0 15px;
}

.footer_info h2 {
    margin-bottom: 20px;
}

.about , .contact {
    width: 40%;
}

.link {
    width: 20%;
}

.social-media {
    margin-top: 30px;
}

.social-media ul {
    display: flex;
}

.social-media ul li a {
    display: inline-block;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    padding-top: 11px;
    background-color: transparent;
    border: 1px solid #fff;
    text-align: center;
}

.social-media ul li a:hover {
    background-color: #ff0000;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.582), 0 0 40px rgba(255, 0, 0, 0.616);
    color: #ffffff;
    transform: scale(1.2);
    transition: .3s;
}

.link ul li a {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

.link ul li a:hover {
    color: #ff0000;
}

.Contact ul li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.Contact ul li span {
    margin-right: 15px;
}

.copy-right {
    padding: 15px 0;
    text-align: center;
    background-color: rgb(85, 0, 0);
}

@media screen and (max-width: 992px) {
    
    .about , .contact {
        width: 35%;
    }
    
    .link {
        width: 30%;
    }
}

@media screen and (max-width: 767px) {
    .about , .contact , .link {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer_info {
        flex-direction: column;
    }
}
